<% include header %>

<section id="top">
  <a href="/"><h1>AFEC</h1></a>
  <nav>
    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a id="cat" href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
  </nav>
</section>


  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].categorieen.indexOf(categorieen[id]) !== -1) { %>
      <section id="catsel">
          <h2 id="titel">
            <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
          </h2>
          <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">
          <p><%- items[i].datum %></p>

          <p>
            <%- items[i].samenvatting %>
          </p>
      </section>
    <% } %>
  <% } %>

<% include footer %>
