<% include header %>

<section id="top">
  <h1>AFEC</h1>
  <nav>
    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a id="cat" href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
  </nav>
</section>

<div id="grid">
  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section id="griditem">
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <div id="overlay">
        <div id="text">
        <h2 id="titel">
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <p id="datum"><%- item.datum %></p>

        <p>
          <%- item.samenvatting %>
        </p>
        </div>
        </div>
    </section>
    <% teller++;}); %>
</div>

<% include footer %>
